.dashboard-mostEfficientshiftHeading{border-left: 1px solid #fa6801;border-bottom: 1px solid #fa6801;border-right: 1px solid #fa6801;}
.dashboard-mostEfficientshiftHeading h4{padding: 10px;}
.dashboard-mostEfficientshiftHeading h5{font-weight: 700;border-radius: 100%;background-color: #46c244;padding: 25px;color: #fff;font-size: 10px;width: 100px;height: 100px;text-align: center;margin-right: 43px;line-height: 14px;}
.dashboard-mostInEfficientshiftHeading{border-left: 1px solid #fa6801;border-bottom: 1px solid #fa6801;border-right: 1px solid #fa6801;}
.dashboard-mostInEfficientshiftHeading h4{padding: 10px;}
.dashboard-mostInEfficientshiftHeading h5{font-weight: 700;border-radius: 100%;background-color: #c24a44;padding: 25px;color: #fff;font-size: 10px;width: 100px;height: 100px;text-align: center;margin-right: 43px;line-height: 14px;}
.efficientTile{font-size: 15px;}